/* SMB Underground by LifeMushroom */
@import url('../../css/borders.css');


table, td, tr, th, div
{
	border-color:#228;
}


a:link { color: white;}
a:visited { color: white;}
a:active, a:hover { color: white; text-decoration: underline; }


body
{
	background: black url("background.png");
	background-repeat: repeat-x;
	background-attachment:fixed;
	background-position:left bottom; 
	text-shadow: #000 1px 1px 1px;
	
}

.header0
{
background: rgb(0,114,201); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,114,201,1) 0%, rgba(0,136,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,114,201,1)), color-stop(100%,rgba(0,136,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,114,201,1) 0%,rgba(0,136,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,114,201,1) 0%,rgba(0,136,221,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,114,201,1) 0%,rgba(0,136,221,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,114,201,1) 0%,rgba(0,136,221,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072c9', endColorstr='#0088dd',GradientType=0 ); /* IE6-9 */
color: white;
}

.header1 th
{

background: rgb(0,114,201); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,114,201,1) 0%, rgba(0,136,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,114,201,1)), color-stop(100%,rgba(0,136,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,114,201,1) 0%,rgba(0,136,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,114,201,1) 0%,rgba(0,136,221,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,114,201,1) 0%,rgba(0,136,221,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,114,201,1) 0%,rgba(0,136,221,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072c9', endColorstr='#0088dd',GradientType=0 ); /* IE6-9 */
color: white;
}

.cell2
{
	background: rgba(128, 0, 128, 0.9);
	text-shadow: #000 1px 1px 1px;
}

.cell1, table.post td.side, table.post td.userlink, table.post td.meta
{
	background: rgba(128, 0, 128, 0.8);
	text-shadow: #000 1px 1px 1px;
}

.cell0, table.post td.post
{
	background: rgba(128, 0, 128, 0.9);
	text-shadow: #000 1px 1px 1px;
}


button, input[type="submit"]
{
	border: 1px solid #224;
	background: rgba(75, 157, 205, 0.9);
	color: black;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea, input[type="checkbox"], input[type="radio"]
{
	background: rgba(75, 157, 205, 0.9);
	border: 1px solid #224;
	color: black;
}

input[type="radio"]
{
	border-radius: 8px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="email"]:focus, select:focus, textarea:focus
{
	background: rgba(75, 157, 205, 0.9);
}


div#tabs button.selected
{
	border-bottom: 1px solid rgba(75, 132, 255, 0.9);
	background: rgba(75, 132, 255, 0.9);
}
