/* SMB 1-1 by LifeMushroom */
@import url('../../css/borders.css');
body
{
	
	background: url("background.png"), url("piece.png");
	background-repeat: repeat-x, repeat;
	background-attachment:fixed;
	background-position:left bottom; 
}
table, tr, td, th, div
{
	border-color: #603;
}
a:link { color: white; }
a:visited { color: white; }
a:active, a:hover { color: white; text-decoration: underline; }

table.outline, table.post
{
	border: 1px solid color: #603;
	border-radius: 10px;
	text-shadow: #000 1px 1px 1px;
	
}

.margin, .pages
{
	margin-bottom: 1.3em;
	text-shadow: #000 1px 1px 1px;
}

div#page_contents
{
	padding: 1em;
	text-shadow: #000 1px 1px 1px;
}

table.outline > tbody > tr > td,
table.post td.side:not(.userlink)
{
	border-right: 1px solid #603;
	padding: 3px 5px;
}

table.outline > tbody:first-child > tr:first-child > *:first-child,
table.post td.userlink
{
	border-top-left-radius: 9px;
}
table.outline > tbody:first-child > tr:first-child > *:last-child,
table.post td.meta
{
	border-top-right-radius: 9px;
}
table.outline > tbody:last-child > tr:last-child > *:first-child,
table.post td.side:not(.userlink),
table.deletedpost td.side
{
	border-bottom-left-radius: 9px;
}
table.outline > tbody:last-child > tr:last-child > *:last-child,
table.post td.post,
table.deletedpost td.meta
{
	border-bottom-right-radius: 9px;
}

tbody {

}
tr.header0 > th,
tr.header1 > th,
table.post td.userlink,
table.post td.meta
{
background: rgb(181,120,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(181,120,50,1) 0%, rgba(201,137,34,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,120,50,1)), color-stop(100%,rgba(201,137,34,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(181,120,50,1) 0%,rgba(201,137,34,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(181,120,50,1) 0%,rgba(201,137,34,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(181,120,50,1) 0%,rgba(201,137,34,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(181,120,50,1) 0%,rgba(201,137,34,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b57832', endColorstr='#c98922',GradientType=0 ); /* IE6-9 */



padding: 4px 6px;
text-shadow: 1px 1px 2px #000;
}

tr.cell0 > td:not(.cell1), tr.cell2 > td:not(.cell1),
td.cell1, td.cell2,
tr.cell1 > td:not(.cell0):not(.cell2),
table.post td.post
{
	background: rgba(190, 81, 12, 0.88);
}

.cell0 {
background: rgba(190, 81, 12, 0.8);
}

td.cell2
{
	background: rgba(190, 81, 12, 0.88);
}

td.cell0 {
background: rgba(190, 81, 12, 0.88);

}


table#header,
table#header > tbody > tr > *,
table#footer,
table#footer > tbody > tr > *
{
	border-left-width: 0;
	border-right-width: 0;
	border-radius: 0;
}

table#header
{
	border-top-width: 0;
}

table#footer
{
	border-bottom-width: 0;
}

table#sidebar,
table#sidebar > tbody > tr > *
{
	border-left-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
	border-radius: 0;
}

table#page-container > tbody > tr:first-child > td.crumb-container > table
{
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-radius: 0;
}

table#page-container > tbody > tr:last-child > td.crumb-container > table
{
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-radius: 0;
}

table#page-container > tbody > tr:first-child > td.crumb-container > table > tbody > tr > *,
table#page-container > tbody > tr:last-child > td.crumb-container > table > tbody > tr > *
{
	border-radius: 0;
}

#header-sep
{
	height: 6px;
}

button, input[type="button"], input[type="submit"]
{
	border: 2px solid #23f;
	background: black;
	color: #eef;
	text-shadow: #000 1px 1px 1px;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	background: black;
	border: 1px solid #23f;
	color: #C0C;
	text-shadow: #000 1px 1px 1px;
}

div#tabs button
{
	border-width: 1px;
	border-radius: 0px;
	margin-bottom: 1px;
	text-shadow: #000 1px 1px 1px;
}

div#tabs button.selected
{
	border-bottom: 1px solid #603;
	background: #603;
	text-shadow: #000 1px 1px 1px;
}


div.postToolbar button
{
	width: 1.9em;
	height: 1.9em;
}


