body, h2, h3, h4 {
  font-family: sans-serif; }

body {
  background: #c9d4e8;
  color: #333; }

a:hover span {
  color: #000 !important; }

#header a:hover span {
  color: #fff !important; }

.threadTag {
  color: #fff; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: #1f4ead; }
  a:hover {
    color: #3c71dd;
    text-decoration: underline; }

#header td.cell0 {
  background: #08142b;
  background-image: linear-gradient(#040a16, #0b1d41); }

#header {
  color: #eee; }
  #header a:link, #header a:visited {
    color: #7da1e8; }
  #header a:hover {
    color: #3c71dd; }

#navBar {
  padding: 6px 12px;
  font-size: 93%;
  border-top: 1px solid #153779;
  background: #10295b;
  background-image: linear-gradient(to bottom, #19418f, #0e234e);
  border-bottom: 1px solid #02060d;
  box-shadow: inset 0px 1px 1px #3c71dd; }

.navButton {
  padding: 0; }

span.navButton > a {
  padding: 3px 9px; }

.dropdownContainer > .navButton {
  padding: 0px 3px; }

span.navButton > a, .dropdownContainer > .navButton, .dropdownContainer > .navButton > a {
  color: #bed0f4 !important;
  text-shadow: 0px 1px 0px #040a16;
  border: 1px solid transparent; }

span.navButton > a:hover {
  border-color: #0a1938;
  background: #153779;
  background-image: linear-gradient(#255ed0, #153779);
  box-shadow: inset 0px 1px 1px #5f8be3; }

.dropdownContainer:hover > .navButton {
  background: transparent; }

.dropdownContainer {
  display: inline-block;
  zoom: 1;
  *display: inline; }

ul.dropdownMenu {
  background: #162441;
  border-top: 1px solid #223967;
  border-bottom: 1px solid #030408;
  border-left: 1px solid #223967;
  background: #162441;
  border-top: 1px solid #223967;
  border-bottom: 1px solid #030408;
  border-right: 1px solid #030408;
  box-shadow: 0px 1px 2px #111;
  padding: 4px; }
  ul.dropdownMenu li {
    padding: 0;
    background: transparent;
    margin: 0;
    border: 0; }
  ul.dropdownMenu li > a {
    display: block;
    padding: 3px 5px;
    color: #a8c0f0; }
    ul.dropdownMenu li > a:hover {
      background: #122d64;
      background-image: linear-gradient(#122d64, #19418f);
      text-decoration: none;
      box-shadow: inset 0px 1px 2px #1f4ead; }

#navMenuContainer {
  padding-top: 1px; }

#notifMenuButton {
  padding-right: 1.5em; }

#notifMenuButton #notifCount {
  position: absolute;
  right: 0px;
  top: 0px; }

#headerInfo th {
  padding: 3px;
  color: #eee;
  text-shadow: 0px 1px 1px black;
  background: #0f2757;
  border-top: 1px solid #173b82;
  border-bottom: 1px solid #040a16;
  border-left: 1px solid #173b82;
  background: #0f2757;
  border-top: 1px solid #173b82;
  border-bottom: 1px solid #040a16;
  border-right: 1px solid #040a16;
  box-shadow: inset 0px 1px 1px #3c71dd;
  background-image: linear-gradient(#1b4498, #0f2757); }

#headerInfo td {
  background: #e3e5e8;
  border-top: 1px solid white;
  border-bottom: 1px solid #b9bdc6;
  border-left: 1px solid white;
  background: #e3e5e8;
  border-top: 1px solid white;
  border-bottom: 1px solid #b9bdc6;
  border-right: 1px solid #b9bdc6;
  color: #333; }

#header tr.cell0 td {
  background: #111c32; }

#header-sep {
  display: none; }

.crumb-container th {
  padding: 6px 20px !important;
  color: #eee;
  font-weight: normal; }
  .crumb-container th a:link, .crumb-container th a:visited {
    color: #7da1e8; }
  .crumb-container th a:hover {
    color: #3c71dd; }
  .crumb-container th a {
    font-weight: normal; }

.crumbContTop th {
  background-image: linear-gradient(to bottom, #111c32, #243b6b);
  background: #243b6b;
  border-bottom: 1px solid #02060d;
  box-shadow: inset 0px 1px 1px #000, 0px 1px 2px #14181f; }

.crumbContBottom th {
  background: #243b6b;
  border-top: 1px solid #153779;
  border-bottom: 1px solid #0e234e; }

.actionlinks .smallFonts {
  font-size: 1em !important; }
  .actionlinks .smallFonts li {
    border-left: 1px solid #264073;
    margin-left: 0.75em;
    padding-left: 0.75em; }
    .actionlinks .smallFonts li:first-child {
      border-left: 0; }
  .actionlinks .smallFonts li:before {
    display: none; }

#footer {
  padding-top: 0.5em;
  background: #08142b;
  overflow: hidden; }
  #footer table {
    color: #eee; }
    #footer table a:link, #footer table a:visited {
      color: #7da1e8; }
    #footer table a:hover {
      color: #3c71dd; }



div#page_contents {
  padding: 16px; }

table.homepage h2 {
  margin: 0 0 0.83em 0; }

table {
  color: #333; }

#mobile-crumbs {
  box-shadow: 0px 1px 2px #111; }

#mobile-crumbs th {
  padding: 2px 8px;
  font-size: 77%;
  color: #3d588f;
  background: #dee3ed;
  border-top: 1px solid white;
  border-bottom: 1px solid #acb9d2;
  border-left: 1px solid white;
  background: #dee3ed;
  border-top: 1px solid white;
  border-bottom: 1px solid #acb9d2;
  border-right: 1px solid #acb9d2;
  background-image: linear-gradient(#dee3ed, #eef1f6);
  text-align: left; }

#mobile-sidebar table.outline, #page_contents table.outline {
  box-shadow: 0px 1px 2px #111; }
#mobile-sidebar table.outline tr.header0 th, #page_contents table.outline tr.header0 th {
  padding: 2px 8px;
  font-size: 77%;
  color: #3d588f;
  background: #dee3ed;
  border-top: 1px solid white;
  border-bottom: 1px solid #acb9d2;
  border-left: 1px solid white;
  background: #dee3ed;
  border-top: 1px solid white;
  border-bottom: 1px solid #acb9d2;
  border-right: 1px solid #acb9d2;
  background-image: linear-gradient(#dee3ed, #eef1f6);
  text-align: left; }

#mobile-sidebar table.outline tr.header1 th, #page_contents table.outline tr.header1 th {
  padding: 5px;
  text-align: center;
  color: #eee;
  text-shadow: 0px 1px 1px black;
  background: #0f2757;
  border-top: 1px solid #173b82;
  border-bottom: 1px solid #040a16;
  border-left: 1px solid #173b82;
  background: #0f2757;
  border-top: 1px solid #173b82;
  border-bottom: 1px solid #040a16;
  border-right: 1px solid #040a16;
  box-shadow: inset 0px 1px 1px #3c71dd;
  background-image: linear-gradient(#1b4498, #0f2757); }
#mobile-sidebar tr.header0 > th, #mobile-sidebar tr.header1 > th, #page_contents tr.header0 > th, #page_contents tr.header1 > th {
  font-size: 1em !important; }
#mobile-sidebar .cell0 td, #mobile-sidebar .cell1 td, #mobile-sidebar .cell2 td, #mobile-sidebar td.cell0, #mobile-sidebar td.cell1, #mobile-sidebar td.cell2, #page_contents .cell0 td, #page_contents .cell1 td, #page_contents .cell2 td, #page_contents td.cell0, #page_contents td.cell1, #page_contents td.cell2 {
  background: #f0f0f0;
  border-top: 1px solid white;
  border-bottom: 1px solid #cacaca;
  border-left: 1px solid white;
  background: #f0f0f0;
  border-top: 1px solid white;
  border-bottom: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  padding: 4px 8px; }
#mobile-sidebar .cell2 td, #mobile-sidebar td.cell2, #page_contents .cell2 td, #page_contents td.cell2 {
  background: #e3e5e8; }

.forumlist .newMarker {
  padding: 7px 8px 9px !important; }

.forumlist .statusIcon, .statusIconNull {
  text-align: center;
  font-size: 80%;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 30%;
  color: #eee;
  font-weight: bold; }

.smallFonts .statusIcon, .smallFonts .statusIconNull {
  width: 1em;
  height: 1em;
  line-height: 1em; }

.forumlist .statusIcon {
  background: #335599;
  background-image: linear-gradient(#6e9cf7, #083691);
  box-shadow: inset 0px 1px 1px #2662d9, 0px 1px 3px #aaa;
  text-shadow: 0px -1px 1px #0f2757; }
  .forumlist .statusIcon:before {
    display: none; }

.statusIconNull {
  background: #b3b3b3;
  background-image: linear-gradient(#e6e6e6, #b3b3b3);
  box-shadow: inset 0px 1px 1px #999999, 0px 1px 3px #ddd;
  text-shadow: 0px -1px 1px #1a1a1a; }

/*
$ticonSize: 10px;
.threadlist .newMarker {
	padding: 3px 14px !important;
}
.threadlist .statusIcon {
	display: inline-block;

	width: $ticonSize;
	height: $ticonSize;

	//line-height: $ticonSize;
	text-align: center;

	border-radius: 40%;

	&.new {
		border: 1px solid hsl(30deg, 80%, 20%);
		@include boxShadow(
			inset 0px 1px 5px #fff,
			inset 0px -1px 4px hsl(30deg, 80%, 40%)
		);
		background: hsl(60deg, 80%, 60%);
	}

}
.statusIcon {
	&.hotnew {
		border: 1px solid hsl(30deg, 80%, 20%);
		@include boxShadow(
			inset 0px 1px 5px hsl(30deg, 80%, 85%),
			inset 0px -1px 4px hsl(30deg, 80%, 30%)
		);
		background: hsl(30deg, 80%, 50%);
	}

	&.off, &.offhot, &.offhotnew, &.offnew {
		border: 1px solid hsl(30deg, 0%, 20%);
		@include boxShadow(
			inset 0px 1px 5px hsl(30deg, 0%, 85%),
			inset 0px -1px 4px hsl(30deg, 0%, 30%)
		);
		background: hsl(30deg, 0%, 50%);
	}
}*/
.threadListPageLinks {
  float: right;
  padding-top: 4px;
  padding-left: 15px;
  color: #666;
  /*&:before {
  	content: 'Pages:';
  	padding: 0px 4px; 
  }*/ }
  .threadListPageLinks > a {
    background: #cdd5e4;
    padding: 2px 5px; }

table.post {
  box-shadow: 0px 1px 1px #111; }
  table.post td.side {
    background: #e0e4eb;
    border-top: 1px solid white;
    border-bottom: 1px solid #b3bbcc;
    border-left: 1px solid white;
    background: #e0e4eb;
    border-top: 1px solid white;
    border-bottom: 1px solid #b3bbcc;
    border-right: 1px solid #b3bbcc;
    padding: 8px 8px; }
  table.post td.meta, table.post td.side.userlink {
    background: #c9d4e8;
    border-top: 1px solid #edf1f7;
    border-bottom: 1px solid #94a8d1;
    border-left: 1px solid #edf1f7;
    background: #c9d4e8;
    border-top: 1px solid #edf1f7;
    border-bottom: 1px solid #94a8d1;
    border-right: 1px solid #94a8d1;
    background-image: linear-gradient(#edf1f7, #c9d4e8);
    padding: 4px 8px; }
  table.post td.post {
    background: #f0f0f0;
    border-top: 1px solid white;
    border-bottom: 1px solid #cacaca;
    border-left: 1px solid white;
    background: #f0f0f0;
    border-top: 1px solid white;
    border-bottom: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    padding: 4px 8px; }

div#tabs {
  padding: 0;
  padding-bottom: 1px; }

.tab, div#tabs button {
  border: 0;
  color: #eee;
  margin: 0;
  padding: 0.25em 1em;
  outline: none;
  text-shadow: 0px 1px 1px black;
  box-shadow: inset 0px 1px 1px #6791e4;
  background: #0f2757;
  border-top: 1px solid #173b82;
  border-bottom: 1px solid #040a16;
  border-left: 1px solid #173b82;
  background: #0f2757;
  border-top: 1px solid #173b82;
  border-bottom: 1px solid #040a16;
  border-right: 1px solid #040a16;
  background-image: linear-gradient(#1b4498, #0f2757); }
  .tab.selected, div#tabs button.selected {
    box-shadow: inset 0px 1px 1px #0b1d41;
    background-image: linear-gradient(#0b1d41, #1f4ead); }

textarea, input, button {
  color: #333; }

textarea, input[type='text'], input[type='password'] {
  box-shadow: inset 0px 1px 2px #aaa;
  border: 1px solid #888;
  background: #eee;
  padding: 4px;
  font-size: 85%; }
  textarea:hover, input[type='text']:hover, input[type='password']:hover {
    border: 1px solid #888; }
  textarea:focus, textarea:active, input[type='text']:focus, input[type='text']:active, input[type='password']:focus, input[type='password']:active {
    border: 1px solid #999;
    background: #fff; }

button, input[type='submit'] {
  background: #2952a3;
  border-top: 1px solid #3366cc;
  border-bottom: 1px solid #193366;
  border-left: 1px solid #3366cc;
  background: #2952a3;
  border-top: 1px solid #3366cc;
  border-bottom: 1px solid #193366;
  border-right: 1px solid #193366;
  background-image: linear-gradient(#2e5cb8, #142952);
  color: #bed0f4;
  padding: 3px 9px;
  box-shadow: 0px 1px 1px #000, inset 0px 1px 2px #85a3e0; }
  button:hover, input[type='submit']:hover {
    background-image: linear-gradient(#4775d1, #1f3d7a);
    box-shadow: 0px 1px 1px #000, inset 0px 1px 4px #adc2eb; }
  button:active, input[type='submit']:active {
    box-shadow: 0px 1px 1px #000, inset 0px 2px 3px #0a1429;
    background-image: linear-gradient(#1f3d7a, #4775d1); }

.postToolbar button {
  padding: 0; }

.smiliesList {
  background: #c7cad1;
  border-top: 1px solid #abb0ba;
  border-bottom: 1px solid #d5d7dd;
  border-left: 1px solid #abb0ba;
  background: #c7cad1;
  border-top: 1px solid #abb0ba;
  border-bottom: 1px solid #d5d7dd;
  border-right: 1px solid #d5d7dd;
  margin-top: 0.5em;
  padding: 4px;
  text-align: center; }
  .smiliesList .sb {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    background: #eee;
    margin: 1px;
    position: relative; }
    .smiliesList .sb img {
      vertical-align: middle; }
    .smiliesList .sb .tooltip {
      display: none;
      position: absolute;
      bottom: 100%;
      left: 0;
      z-index: 100;
      margin-bottom: 4px;
      padding: 4px 8px;
      white-space: nowrap;
      background: #3d588f;
      border-top: 1px solid #4d6eb3;
      border-bottom: 1px solid #263759;
      border-left: 1px solid #4d6eb3;
      background: #3d588f;
      border-top: 1px solid #4d6eb3;
      border-bottom: 1px solid #263759;
      border-right: 1px solid #263759;
      color: #eee; }
    .smiliesList .sb img:hover + .tooltip {
      display: block; }

.smiliesListAddendum {
  color: #888;
  display: block; }

/*# sourceMappingURL=lf_220.css.map */
