body, h2, h3, h4 {
  font-family: sans-serif; }

body {
  background: #dee8c9;
  color: #333; }

a:hover span {
  color: #000 !important; }

#header a:hover span {
  color: #fff !important; }

.threadTag {
  color: #fff; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: #7ead1f; }
  a:hover {
    color: #a7dd3c;
    text-decoration: underline; }

#header td.cell0 {
  background: #1f2b08; }

#header {
  color: #eee; }
  #header a:link, #header a:visited {
    color: #c4e87d; }
  #header a:hover {
    color: #a7dd3c; }

#navBar {
  padding: 6px 12px;
  font-size: 93%;
  border-top: 1px solid #587915;
  background: #425b10;
  border-bottom: 1px solid #090d02; }

.navButton {
  padding: 0; }

span.navButton > a {
  padding: 3px 9px; }

.dropdownContainer > .navButton {
  padding: 0px 3px; }

span.navButton > a, .dropdownContainer > .navButton, .dropdownContainer > .navButton > a {
  color: #e2f4be !important;
  text-shadow: 0px 1px 0px #101604;
  border: 1px solid transparent; }

span.navButton > a:hover {
  border-color: #29380a;
  background: #587915; }

.dropdownContainer:hover > .navButton {
  background: transparent; }

.dropdownContainer {
  display: inline-block;
  zoom: 1;
  *display: inline; }

ul.dropdownMenu {
  background: #334116;
  border-top: 1px solid #506722;
  border-bottom: 1px solid #060803;
  border-left: 1px solid #506722;
  background: #334116;
  border-top: 1px solid #506722;
  border-bottom: 1px solid #060803;
  border-right: 1px solid #060803;
  padding: 4px; }
  ul.dropdownMenu li {
    padding: 0;
    background: transparent;
    margin: 0;
    border: 0; }
  ul.dropdownMenu li > a {
    display: block;
    padding: 3px 5px;
    color: #d8f0a8; }
    ul.dropdownMenu li > a:hover {
      background: #486412;
      text-decoration: none; }

#navMenuContainer {
  padding-top: 1px; }

#notifMenuButton {
  padding-right: 1.5em; }

#notifMenuButton #notifCount {
  position: absolute;
  right: 0px;
  top: 0px; }

#headerInfo th {
  padding: 3px;
  color: #eee;
  text-shadow: 0px 1px 1px black;
  background: #3f570f;
  border-top: 1px solid #5e8217;
  border-bottom: 1px solid #101604;
  border-left: 1px solid #5e8217;
  background: #3f570f;
  border-top: 1px solid #5e8217;
  border-bottom: 1px solid #101604;
  border-right: 1px solid #101604; }

#headerInfo td {
  background: #e6e8e3;
  border-top: 1px solid white;
  border-bottom: 1px solid #c1c6b9;
  border-left: 1px solid white;
  background: #e6e8e3;
  border-top: 1px solid white;
  border-bottom: 1px solid #c1c6b9;
  border-right: 1px solid #c1c6b9;
  color: #333; }

#header tr.cell0 td {
  background: #273211; }

#header-sep {
  display: none; }

.crumb-container th {
  padding: 6px 20px !important;
  color: #eee;
  font-weight: normal; }
  .crumb-container th a:link, .crumb-container th a:visited {
    color: #c4e87d; }
  .crumb-container th a:hover {
    color: #a7dd3c; }
  .crumb-container th a {
    font-weight: normal; }

.crumbContTop th {
  background: #536b24;
  border-bottom: 1px solid #090d02; }

.crumbContBottom th {
  background: #536b24;
  border-top: 1px solid #587915;
  border-bottom: 1px solid #394e0e; }

.actionlinks .smallFonts {
  font-size: 1em !important; }
  .actionlinks .smallFonts li {
    border-left: 1px solid #597326;
    margin-left: 0.75em;
    padding-left: 0.75em; }
    .actionlinks .smallFonts li:first-child {
      border-left: 0; }
  .actionlinks .smallFonts li:before {
    display: none; }

#footer {
  padding-top: 0.5em;
  background: #1f2b08;
  overflow: hidden; }
  #footer table {
    color: #eee; }
    #footer table a:link, #footer table a:visited {
      color: #c4e87d; }
    #footer table a:hover {
      color: #a7dd3c; }



div#page_contents {
  padding: 16px; }

table.homepage h2 {
  margin: 0 0 0.83em 0; }

table {
  color: #333; }

#mobile-crumbs th {
  padding: 2px 8px;
  font-size: 77%;
  color: #748f3d;
  background: #e8edde;
  border-top: 1px solid white;
  border-bottom: 1px solid #c6d2ac;
  border-left: 1px solid white;
  background: #e8edde;
  border-top: 1px solid white;
  border-bottom: 1px solid #c6d2ac;
  border-right: 1px solid #c6d2ac;
  text-align: left; }

#mobile-sidebar table.outline tr.header0 th, #page_contents table.outline tr.header0 th {
  padding: 2px 8px;
  font-size: 77%;
  color: #748f3d;
  background: #e8edde;
  border-top: 1px solid white;
  border-bottom: 1px solid #c6d2ac;
  border-left: 1px solid white;
  background: #e8edde;
  border-top: 1px solid white;
  border-bottom: 1px solid #c6d2ac;
  border-right: 1px solid #c6d2ac;
  text-align: left; }

#mobile-sidebar table.outline tr.header1 th, #page_contents table.outline tr.header1 th {
  padding: 5px;
  text-align: center;
  color: #eee;
  text-shadow: 0px 1px 1px black;
  background: #3f570f;
  border-top: 1px solid #5e8217;
  border-bottom: 1px solid #101604;
  border-left: 1px solid #5e8217;
  background: #3f570f;
  border-top: 1px solid #5e8217;
  border-bottom: 1px solid #101604;
  border-right: 1px solid #101604; }
#mobile-sidebar tr.header0 > th, #mobile-sidebar tr.header1 > th, #page_contents tr.header0 > th, #page_contents tr.header1 > th {
  font-size: 1em !important; }
#mobile-sidebar .cell0 td, #mobile-sidebar .cell1 td, #mobile-sidebar .cell2 td, #mobile-sidebar td.cell0, #mobile-sidebar td.cell1, #mobile-sidebar td.cell2, #page_contents .cell0 td, #page_contents .cell1 td, #page_contents .cell2 td, #page_contents td.cell0, #page_contents td.cell1, #page_contents td.cell2 {
  background: #f0f0f0;
  border-top: 1px solid white;
  border-bottom: 1px solid #cacaca;
  border-left: 1px solid white;
  background: #f0f0f0;
  border-top: 1px solid white;
  border-bottom: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  padding: 4px 8px; }
#mobile-sidebar .cell2 td, #mobile-sidebar td.cell2, #page_contents .cell2 td, #page_contents td.cell2 {
  background: #e6e8e3; }

.forumlist .newMarker {
  padding: 7px 8px 9px !important; }

.forumlist .statusIcon, .statusIconNull {
  text-align: center;
  font-size: 80%;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 30%;
  color: #eee;
  font-weight: bold; }

.smallFonts .statusIcon, .smallFonts .statusIconNull {
  width: 1em;
  height: 1em;
  line-height: 1em; }

.forumlist .statusIcon {
  background: #779933;
  text-shadow: 0px -1px 1px #3f570f; }
  .forumlist .statusIcon:before {
    display: none; }

.statusIconNull {
  background: #b3b3b3;
  text-shadow: 0px -1px 1px #1a1a1a; }

/*
$ticonSize: 10px;
.threadlist .newMarker {
	padding: 3px 14px !important;
}
.threadlist .statusIcon {
	display: inline-block;

	width: $ticonSize;
	height: $ticonSize;

	//line-height: $ticonSize;
	text-align: center;

	border-radius: 40%;

	&.new {
		border: 1px solid hsl(30deg, 80%, 20%);
		@include boxShadow(
			inset 0px 1px 5px #fff,
			inset 0px -1px 4px hsl(30deg, 80%, 40%)
		);
		background: hsl(60deg, 80%, 60%);
	}

}
.statusIcon {
	&.hotnew {
		border: 1px solid hsl(30deg, 80%, 20%);
		@include boxShadow(
			inset 0px 1px 5px hsl(30deg, 80%, 85%),
			inset 0px -1px 4px hsl(30deg, 80%, 30%)
		);
		background: hsl(30deg, 80%, 50%);
	}

	&.off, &.offhot, &.offhotnew, &.offnew {
		border: 1px solid hsl(30deg, 0%, 20%);
		@include boxShadow(
			inset 0px 1px 5px hsl(30deg, 0%, 85%),
			inset 0px -1px 4px hsl(30deg, 0%, 30%)
		);
		background: hsl(30deg, 0%, 50%);
	}
}*/
.threadListPageLinks {
  float: right;
  padding-top: 4px;
  padding-left: 15px;
  color: #666;
  /*&:before {
  	content: 'Pages:';
  	padding: 0px 4px; 
  }*/ }
  .threadListPageLinks > a {
    background: #dde4cd;
    padding: 2px 5px; }

table.post td.side {
  background: #e7ebe0;
  border-top: 1px solid white;
  border-bottom: 1px solid #c3ccb3;
  border-left: 1px solid white;
  background: #e7ebe0;
  border-top: 1px solid white;
  border-bottom: 1px solid #c3ccb3;
  border-right: 1px solid #c3ccb3;
  padding: 8px 8px; }
table.post td.meta, table.post td.side.userlink {
  background: #dee8c9;
  border-top: 1px solid #f4f7ed;
  border-bottom: 1px solid #bdd194;
  border-left: 1px solid #f4f7ed;
  background: #dee8c9;
  border-top: 1px solid #f4f7ed;
  border-bottom: 1px solid #bdd194;
  border-right: 1px solid #bdd194;
  padding: 4px 8px; }
table.post td.post {
  background: #f0f0f0;
  border-top: 1px solid white;
  border-bottom: 1px solid #cacaca;
  border-left: 1px solid white;
  background: #f0f0f0;
  border-top: 1px solid white;
  border-bottom: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  padding: 4px 8px; }

div#tabs {
  padding: 0;
  padding-bottom: 1px; }

.tab, div#tabs button {
  border: 0;
  color: #eee;
  margin: 0;
  padding: 0.25em 1em;
  outline: none;
  text-shadow: 0px 1px 1px black;
  background: #3f570f;
  border-top: 1px solid #5e8217;
  border-bottom: 1px solid #101604;
  border-left: 1px solid #5e8217;
  background: #3f570f;
  border-top: 1px solid #5e8217;
  border-bottom: 1px solid #101604;
  border-right: 1px solid #101604; }

textarea, input, button {
  color: #333; }

textarea, input[type='text'], input[type='password'] {
  border: 1px solid #888;
  background: #eee;
  padding: 4px;
  font-size: 85%; }
  textarea:hover, input[type='text']:hover, input[type='password']:hover {
    border: 1px solid #888; }
  textarea:focus, textarea:active, input[type='text']:focus, input[type='text']:active, input[type='password']:focus, input[type='password']:active {
    border: 1px solid #999;
    background: #fff; }

button, input[type='submit'] {
  background: #7aa329;
  border-top: 1px solid #99cc33;
  border-bottom: 1px solid #4c6619;
  border-left: 1px solid #99cc33;
  background: #7aa329;
  border-top: 1px solid #99cc33;
  border-bottom: 1px solid #4c6619;
  border-right: 1px solid #4c6619;
  color: #e2f4be;
  padding: 3px 9px; }

.postToolbar button {
  padding: 0; }

.smiliesList {
  background: #ced1c7;
  border-top: 1px solid #b5baab;
  border-bottom: 1px solid #daddd5;
  border-left: 1px solid #b5baab;
  background: #ced1c7;
  border-top: 1px solid #b5baab;
  border-bottom: 1px solid #daddd5;
  border-right: 1px solid #daddd5;
  margin-top: 0.5em;
  padding: 4px;
  text-align: center; }
  .smiliesList .sb {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    background: #eee;
    margin: 1px;
    position: relative; }
    .smiliesList .sb img {
      vertical-align: middle; }
    .smiliesList .sb .tooltip {
      display: none;
      position: absolute;
      bottom: 100%;
      left: 0;
      z-index: 100;
      margin-bottom: 4px;
      padding: 4px 8px;
      white-space: nowrap;
      background: #748f3d;
      border-top: 1px solid #90b34d;
      border-bottom: 1px solid #485926;
      border-left: 1px solid #90b34d;
      background: #748f3d;
      border-top: 1px solid #90b34d;
      border-bottom: 1px solid #485926;
      border-right: 1px solid #485926;
      color: #eee; }
    .smiliesList .sb img:hover + .tooltip {
      display: block; }

.smiliesListAddendum {
  color: #888;
  display: block; }

/*# sourceMappingURL=l_80.css.map */
